<h3>User</h3>

<!--this didn't work with single fucking letter-->

<ul>
  <!--required a null gaurd because this was trying to display text before html was loaded. Bit shit.
  other option is to user startWith and assign name to ''-->
  <li class="name">{{(user$ | async).name}}</li>
  <li>{{(user$ | async).email}}</li>
  
</ul>

<img src="{{(user$ | async).imageUrl}}" alt="">


<!--<div *ngFor='let item of user | async'>
  <p>{{item.name}}</p>
  <p>{{item.phone}}</p>
  <p>{{item.email}}</p>
</div>-->
